body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  text-align: center;
}

a {
  padding: 15px 40px;
  text-decoration: none;
  background-color: #161616;
  color: #ecdbba;
  border-radius: 5%;
  border: 0;
  font-weight: 600;
  margin: 0 10px;
}

a:hover {
  background-color: #ecdbba;
  color: #161616;
  font-weight: 600;
  margin: 0 10px;
}

.the-line {
  border-style: dotted none none none;
  border-color: #161616;
  border-width: 15px;
  height: 1px;
  width: 8%;
  margin: 5% auto;
}

.top-container {
  background-color: #161616;
  color: #ecdbba;
  padding-top: 100px;
  padding-bottom: 100px;
}

.img {
  width: 15%;
}

.heading {
  font-family: "Waterfall", cursive;
  font-size: 1200%;
  font-weight: 500;
  margin: 0;
  line-height: 0.5;
}

.heading2 {
  font-family: "Waterfall", cursive;
  font-size: 550%;
  margin: 1%;
}

.heading3 {
  font-family: "Roboto Slab", serif;
  font-size: 120%;
  font-weight: 600;
  clear: both;
  text-align: center;
}

.sub-heading {
  font-family: "Roboto Slab", serif;
  font-size: 120%;
  font-weight: 400;
}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
  bottom: 410px;
}

.mountain {
  position: relative;
  top: 100px;
}

.middle-container {
  background-color: #c84b31;
  color: #ecdbba;
  padding: 1%;
}

.img1 {
  width: 20%;
  float: left;
  margin-right: 5%;
}

.img2 {
  width: 20%;
  float: right;
  margin-left: 5%;
}

.skill-row {
  width: 50%;
  margin: 5% auto 10% auto;
  text-align: left;
  line-height: 2;
}

.bottom-container {
  background-color: #346751;
  color: #ecdbba;
  padding: 3%;
}

.copyright {
  font-size: 80%;
  padding-top: 3%;
  color: white;
}
